@font-face {
    font-family: 'RubikBold';
    src: url('../fonts/Rubik-Bold.ttf');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'RubikMedium';
    src: url('../fonts/Rubik-Medium.ttf');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'RubikRegular';
    src: url('../fonts/Rubik-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@mixin bold {
    font-family: 'RubikBold', sans-serif;
    font-weight: 700;
}

@mixin med {
    font-family: 'RubikMedium', sans-serif;
    font-weight: 500;
}

@mixin reg {
    font-family: 'RubikRegular', sans-serif;
    font-weight: 300;
}